header{
    display: flex;
    flex-direction: column;
    }

body{
    padding: 70px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 80%;
}

#n1{
    width: 25%;
    height: 30px;
    text-align: center;
}

#n2{
    width: 25%;
    height: 30px;
    text-align: center;
}

select{
    width:10%;
    height: 30px;
    text-align: center;
}

#img{
    width: 70px 50px;
}
